{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('change_form', song_id=t.id) }}">
  <table>
      <tr>
	      <td>
	        {{ form.name.label }}
	      </td>
	      <td>
	        {{ form.name }}
	      </td>
      </tr>
      <tr>
          <td>
            {{ form.description.label }}
          </td>
          <td>
            {{ form.description }}
          </td>
              </tr>
      <tr>
	      <td colspan="2">   
            <input type="submit" value="Save changes"/>
	      </td>
      </tr>
      <tr>
        <td>
          <form method="POST" action="{{ url_for('song_delete', song_id=t.id) }}">
            <input type="submit" value="Delete"/>
          </form>
        </td>
      </tr> 
</form>
{% endblock %}
