{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Song</th>
      <th>Description</th>
    </tr>
    {% for song in songs %}
    <tr>
      <td>{{ song.songname }}</td>
      <td><a href="{{ url_for('songs_change_name', song_id=song.id) }}">Show</a>
      </td>
      <td>
        <form method="POST" action="{{ url_for('song_choose', song_id=song.id) }}">
          <input type="submit" value="Choose"/>
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('song_delete', song_id=song.id) }}">
          <input type="submit" value="Delete"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
