{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>List of all songs</th>
    </tr>
    {% for song in songs %}
    <tr>
      <td>{{ song.songname }}</td>
      {% if current_user.is_authenticated %}
      <td><a href="{{ url_for('songs_change_name', song_id=song.id) }}">Show</a>
      </td>     
      <td>
        <form method="POST" action="{{ url_for('song_choose', song_id=song.id) }}">
          <input type="submit" value="Add to my list"/>
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('song_delete', song_id=song.id) }}">
          <input type="submit" value="Delete"/>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endblock %}
