{% extends "layout.html" %}

{% block body %}
<p> This is your karaokelist:</p>
<p>{{song_error}}</p>

<table>
  <tr>
      <th>Song</th>
      <th>Performances</th>
      <th> </th>
      <th>Description</th>
  </tr>

{% if mysongs is defined %}

  {% for song in mysongs %}
  <tr> 
    <td>{{song.name}}</td>  
    <td>{{song.count}}</td> 
    <td>
        <form method="POST" action="{{ url_for('sing_song', song_id=song.id) }}">
          <input type="submit" value="Sing it!"/>
        </form>
      </td> 
    <td>{{song.description}}</td>  
  </tr>
  {% endfor %}

</table>
{% endif %}

{% endblock %}